# Generated source files
lib/

# Commands
test-add-strike.ts

### Node ###
node_modules
npm-debug.log
test-reports/
config

# dotenv environmental variables
.env

# Coverage
coverage/


# Misc
.vscode